
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <title>CCL</title>


    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />

</head>
<body>

    <div class="wrapper">

        <div class="top-title">
            <h2>Manage Alt Hierarchy</h2>
        </div>

        <div class="manage-catalog">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 padding-zero">
                        <div class="for-responsive">
                            <h4>Original Approver :</h4>
                            <div class="select3">
                                <div class="input3">
                                </div>
                                <div class="select-options3">
                                    <ul>
                                        <li>
                                            <span>Emp Code - Name</span>
                                        </li>
                                        <li>
                                            <span>Emp Code - Name 2</span>
                                        </li>
                                        <li>
                                            <span>Emp Code - Name 3</span>
                                        </li>
                                        <li>
                                            <span>Emp Code - Name 4</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding-zero">
                        <div class="view-catalog">
                            <div class="browse_btn">
                                <input type="file" name="image1" />
                            </div>
                        </div>

                        <a href="" class="for-right-icon second-manage"><img src="~AcxiomDesign/images/view-catalog.png"></a>

                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding-zero">
                        <a href="javascript:void(0);" class="alt-hie" style="float: left;">Upload images</a>
                        <a href="manage-hierarchy.html" class="alt-hie">Back</a>
                    </div>
                </div>
            </div>


            <div class="footer-first">
            </div>
        </div>

        <div class="container">
            <div class="row for-row-margin">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-zero ">
                    <div class="left-side-bar for-order-margin for-hierarchy-margin">
                        <div class="order_table_bg" style="overflow-x:auto;">
                            <table class="table order_table order_table-right order_table-left1">
                                <thead>
                                    <tr>
                                        <th>Approver Code</th>
                                        <th>Approver Name</th>
                                        <th>Approver Email</th>
                                        <th>Alt Approver Code</th>
                                        <th>Alt Approver Name</th>
                                        <th>Alt Approver Email</th>
                                        <th>Date From</th>
                                        <th>Date To</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>E000234</td>
                                        <td>XYZ Kumar</td>
                                        <td>xyz@ccaf.com</td>
                                        <td>AE000234</td>
                                        <td>AXYZ Kumar</td>
                                        <td>Axyz@ccaf.com</td>
                                        <td>01-07-2018</td>
                                        <td>05-07-2018</td>
                                    </tr>

                                    <tr>
                                        <td>E000234</td>
                                        <td>XYZ Kumar</td>
                                        <td>xyz@ccaf.com</td>
                                        <td>AE000234</td>
                                        <td>AXYZ Kumar</td>
                                        <td>Axyz@ccaf.com</td>
                                        <td>01-07-2018</td>
                                        <td>05-07-2018</td>
                                    </tr>

                                    <tr>
                                        <td>E000234</td>
                                        <td>XYZ Kumar</td>
                                        <td>xyz@ccaf.com</td>
                                        <td>AE000234</td>
                                        <td>AXYZ Kumar</td>
                                        <td>Axyz@ccaf.com</td>
                                        <td>01-07-2018</td>
                                        <td>05-07-2018</td>
                                    </tr>

                                    <tr>
                                        <td>E000234</td>
                                        <td>XYZ Kumar</td>
                                        <td>xyz@ccaf.com</td>
                                        <td>AE000234</td>
                                        <td>AXYZ Kumar</td>
                                        <td>Axyz@ccaf.com</td>
                                        <td>01-07-2018</td>
                                        <td>05-07-2018</td>
                                    </tr>

                                    <tr>
                                        <td>E000234</td>
                                        <td>XYZ Kumar</td>
                                        <td>xyz@ccaf.com</td>
                                        <td>AE000234</td>
                                        <td>AXYZ Kumar</td>
                                        <td>Axyz@ccaf.com</td>
                                        <td>01-07-2018</td>
                                        <td>05-07-2018</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="footer-first">
        </div>

    </div>

</body>
</html>
