
@{
    ViewBag.Title = "QueueForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .dataTables_wrapper .dataTables_paginate {
        float: right;
        text-align: right;
        padding-top: 0.25em;
        font-size: 13px;
    }

    .dataTables_wrapper .dataTables_info {
        clear: both;
        float: left;
        padding-top: 0.755em;
        font-size: 13px;
    }

    .for-order-margin {
        margin-top: -14px;
    }

    .dataTables_wrapper .dataTables_length {
        float: left;
        font-size: 25px;
    }
</style>

<div class="loader_overlay">
    <img src="~/AcxiomDesign/images/Loading-red.gif" id="loading" height="250px" width="250px" />
</div>
<div class="wrapperbox">
    <div class="top-title">
        <h2>Queue Forms</h2>

    </div>
    <div class="for-top-border">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-1 col-sm-4 col-xs-4 padding-zero mobileview-col-xs-4" style="margin-left: -17px">
                    <div class="first_left_side mobileview-col-xs-6">
                        <select id="ddlStatus" class="searchable" style="width:250px" onchange="BindStatusValue()">
                            <option>Select Type</option>
                            <option value="0">Status</option>
                            <option value="1">PV Number</option>
                        </select>
                    </div>
                </div>

                <div class="col-xs-3 col-md-3 col-sm-3 col-xs-3 mobileview-col-xs-3">
                    <div class="first_left_side for-float-right">
                        <select id="ddlStatusValues" class="searchable" style="width:250px" onchange="BinddataGrid()"></select>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<br>
<div class="left-side-bar for-order-margin" style="width: 75%; margin-left:15px;">
    <table id="tblformQueue" class="add-new-class table order_table order_table-right2 for-margin cell-border mobile_view_beforenone responsive-table">
        <thead>
            <tr>
                <th>PV Number</th>
                <th>Submitted by</th>
                <th>Submitted Date/Time</th>
                <th>Description</th>
                <th>Status</th>
                <th>Approval Level</th>
                
            </tr>
        </thead>
        <tbody>
        </tbody>

    </table>

</div>

<script>
    function BindStatusValue()
    {
        
        $('#tblformQueue tbody').empty();
        var table = $('#tblformQueue').DataTable();
        table.clear().draw();
        table.destroy();
        var statusid = $("#ddlStatus").val();
        if (statusid == 0)
        {
            $("#ddlStatusValues").empty();
            $('#ddlStatusValues').attr('enabled', 'true').chosen("destroy");
            $('#ddlStatusValues').append($("<option></option>").val("").html("Select an Option"));
            $('#ddlStatusValues').append($("<option></option>").val(4).html("Awaiting Approval"));
            $('#ddlStatusValues').chosen();
        }
        else if (statusid == 1)
        {
            $.ajax({
                type: "GET",
                crossDomain: true,
                dataType: 'json',
                url: '/PriceVariance/GetPVCNOStatusWiseQueue?TYPE=4',
                success: function (responsedata) {

                    $("#ddlStatusValues").empty();
                    $('#ddlStatusValues').attr('enabled', 'true').chosen("destroy");
                    var data = JSON.parse(responsedata);

                    $('#ddlStatusValues').append($("<option></option>").val('').html('Select an Option'));

                    $.each(data, function (index, obj) {

                        $('#ddlStatusValues').append($("<option></option>").val(obj.PVCNO).html(obj.PVCNO));

                    });

                    $('#ddlStatusValues').chosen();

                }
            });
        }
        else {

            $("#ddlStatusValues").empty();
            $('#ddlStatusValues').attr('enabled', 'true').chosen("destroy");
            $('#ddlStatusValues').append($("<option></option>").val("").html("Select an Option"));
            $('#ddlStatusValues').chosen();
        }

    }

    function BinddataGrid()
    {
        $('#tblformQueue tbody').empty();
        var table = $('#tblformQueue').DataTable();
        table.clear().draw();
        table.destroy();
        var statusid = $("#ddlStatus").val();
        var statusType = $("#ddlStatusValues").val();
        if (statusid == 0)//for Awaiting for Approval
        {
            $.ajax({
                type: "GET",
                crossDomain: true,
                dataType: 'json',
                url: '/PriceVariance/GetPVCNOStatusWiseQueue?TYPE=' + statusType + '',
                success: function (responsedata) {

                    $('#tblformQueue tbody').empty();
                    var jsondata = JSON.parse(responsedata);

                    $.each(jsondata, function (index, obj)
                    {
                        var newRow = '<tr><td><a href="#" onclick="OpenRecordtoEdit(\'' + obj.PVCNO + '\',\'' + obj.STATUSID + '\')">' + obj.PVCNO + '</a></td>';
                        newRow = newRow +'<td>' + obj.CREATEDBY + '</td><td>' + obj.SUBMITTEDDATE + '</td><td>' + obj.PVCDESC + '</td><td>' + obj.STATUS + '</td><td>' + obj.APPROVALLEVEL + '</td>';
                        $('#tblformQueue tbody').append(newRow);

                    });

                },
                complete: function () {
                    $('#tblformQueue').DataTable({
                        scrollCollapse: true
                        , "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]]
                        , "language": {
                            "search": ""
                            , "sLengthMenu": "Display _MENU_ Records"
                            , "info": "Displaying _START_ to _END_ of _TOTAL_ Records"
                            , "infoEmpty": "Displaying 0 to 0 of 0 Records"

                        }
                    });
                    $('.dataTables_filter input').attr("placeholder", "Search");
                    $('.dataTables_filter').attr("class", "manage_search"); // New changes add
                    $('#loading').hide();
                    $('.loader_overlay').fadeOut();
                }

            });
        }
        else if (statusid == 1) //for PVC No Request
        {
            $.ajax({
                type: "GET",
                crossDomain: true,
                dataType: 'json',
                url: '/PriceVariance/GetPVCNOStatusWise?TYPE=5&PVCNO=' + statusType+'',
                success: function (responsedata) {

                    $('#tblformQueue tbody').empty();
                    var jsondata = JSON.parse(responsedata);

                    $.each(jsondata, function (index, obj) {
                        var newRow = '<tr><td><a href="#" onclick="OpenRecordtoEdit(\'' + obj.PVCNO + '\',\'' + obj.STATUSID + '\')">' + obj.PVCNO + '</a></td>';
                        newRow = newRow + '<td>' + obj.CREATEDBY + '</td><td>' + obj.SUBMITTEDDATE + '</td><td>' + obj.PVCDESC + '</td><td>' + obj.STATUS + '</td><td>' + obj.APPROVALLEVEL + '</td>';
                        $('#tblformQueue tbody').append(newRow);

                    });

                },
                complete: function () {
                    $('#tblformQueue').DataTable({
                        scrollCollapse: true
                        , "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]]
                        , "language": {
                            "search": ""
                            , "sLengthMenu": "Display _MENU_ Records"
                            , "info": "Displaying _START_ to _END_ of _TOTAL_ Records"
                            , "infoEmpty": "Displaying 0 to 0 of 0 Records"

                        }
                    });
                    $('.dataTables_filter input').attr("placeholder", "Search");
                    $('.dataTables_filter').attr("class", "manage_search"); // New changes add
                    $('#loading').hide();
                    $('.loader_overlay').fadeOut();
                }

            });
        }
    }

    function OpenRecordtoEdit(pvno, pvstatus)
    {
        if  (pvstatus == 0 || pvstatus == 10)
        {
            var url = '/PriceVariance/PriceVariance?PVCNO=' + pvno + '&Pvstatus=' + pvstatus + '';
            window.location.href = url
        }
        else
        {
            var url = '/PriceVariance/PriceVarianceApproval?PVCNO=' + pvno + '&Pvstatus=' + pvstatus + '';
            window.location.href = url
        }

    }

</script>


